header{
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  span{
    font-size: 32px;
    line-height: 64px;
    cursor: pointer;
  }
}

.hidden{
  display: none;
}

#close{
  z-index: 1;
}

.show{
  text-align: center;
  font-size: 30px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 100px;
  background: rgba(255,255,255,0.9);
  transform: none;
} 
a{
  display: block;
  margin-top: 20px;
  transform: translateY(16px);
  transition: transform .3s;
}